html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* border: 1px solid black; */
}

/* GENERAL STYLES */

body {
  font-family: sans-serif;
  position: relative;
  line-height: 1.5;
}

header,
footer {
  background-color: #1f2937;
  color: #f9faf8;
}

button {
  background-color: #3882f6;
  padding: 5px 20px;
  border-radius: 5px;
  color: #f9faf8;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 800px;
  padding-top: 10px;
}

.top-nav {
  display: flex;
  list-style: none;
  gap: 15px;
  color: #e5e7eb;
}

.hero {
  display: flex;
  /* flex: 1 1 100%; */
  /* flex-wrap: wrap; */
  width: 900px;
  padding: 50px;
}

.hero-text {
  font-size: 36px;
  /* font-weight: extra-bold; */
  padding-right: 50px;
}

h1 {
  line-height: 0.8;
}

.hero-text p {
  font-size: 18px;
  padding-top: 20px;
}

.hero-btn {
  margin-top: 15px;
  border-style: none;
}

.hero-img {
  height: 250px;
  width: auto;
}

a:link,
a:visited {
  color: #e5e7eb;
  text-decoration: none;
}

/* MAIN */

.information {
  text-align: center;
  padding: 60px;
  /* padding: 50px 200px; */
}

.cards {
  display: flex;
  list-style: none;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0 0;
  /* font-size: 18px; */
}

.pic {
  height: 125px;
  width: 125px;
  border-radius: 20%;
}

.card {
  height: 200px;
  width: 175px;
  margin: 0 0 30px 0;
}

/* QUOTE */

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  padding: 80px 0 50px 0;
  color: #1f2937;
  /* height: 350px; */
}

.quote-text {
  /* height: 150px;*/
  width: 500px;
  font-size: 18px;
  font-style: italic;
  /* font-weight: 200; */
}

figcaption {
  align-self: flex-end;
  /* font-size: 20px; */
  font-weight: bold;
  text-align: right;
}

/* CALL TO ACTION */

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 90px 0;
}

.call-container {
  display: flex;
  background-color: #3882f6;
  padding: 20px 40px;
  margin-bottom: 20px;
  align-items: center;
  border-radius: 10px;
}

.call {
  color: #f9faf8;
}

.call-btn {
  margin-left: 40px;
  border-color: #f9faf8;
  border-style: solid;
}

/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 40px;
  padding-top: 7px;
}
