* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  color: #f9faf8;
}

ul,
nav,
section {
  display: flex;
}

ul {
  list-style: none;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.logo {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background-color: whitesmoke;
}

.pic {
  height: 150px;
  width: 150px;
  border-radius: 20%;
}

.top-nav {
  display: flex;
  justify-content: space-between;
}
.title {
  justify-content: center;
}

.intro {
  margin: 0;
  width: 400px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.title-img {
  height: 250px;
  margin: 24px;
}

nav {
  flex: 1;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 16px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1f2937;
  color: #f9faf8;
  margin: auto 0 0 0;
}

.card {
  height: 200px;
  width: 175px;
}
